sudo: false
language: python
python:
    - "3.6"
    - "2.7"
addons:
    postgresql: "9.6"
services:
    - postgresql
branches:
    only:
        - master
        - uat
        - staging
        - production
        - oeh_uat
        - oeh_production
        - slug_uat
        - slug_production
env:
    global:
        - SECRET_KEY=SecretKeyForTravis
        - DATABASE_URL="postgis://postgres@localhost:5432/travis_ci_test"
install:
    - sudo apt-get install -y postgresql-9.6-postgis-2.3
    - psql -U postgres -c "create extension if not exists postgis"
    - pip install pip --upgrade
    - pip --version
    - pip install -r requirements.txt
before_script:
    - psql -c 'create database travis_ci_test;' -U postgres
    - python manage.py migrate --noinput
script:
    - python manage.py test

deploy:
  - provider: elasticbeanstalk
    access_key_id: $AWS_OEH_ACCESS_KEY
    secret_access_key:
      secure: $AWS_OEH_SECRET_KEY
    region: "ap-southeast-2"
    app: "biosys"
    env: "biosys-uat"
    bucket_name: elasticbeanstalk-ap-southeast-2-119102954308
    on:
      branch: oeh_uat
      python: "3.6"

  - provider: elasticbeanstalk
    access_key_id: $AWS_OEH_ACCESS_KEY
    secret_access_key:
      secure: $AWS_OEH_SECRET_KEY
    region: "ap-southeast-2"
    app: "biosys"
    env: "biosys-production"
    bucket_name: elasticbeanstalk-ap-southeast-2-119102954308
    on:
      branch: oeh_production
      python: "3.6"

  - provider: elasticbeanstalk
    access_key_id: $AWS_SLUG_ACCESS_KEY
    secret_access_key:
      secure: $AWS_SLUG_SECRET_KEY
    region: "ap-southeast-2"
    app: "biosys"
    env: "biosys-uat"
    bucket_name: elasticbeanstalk-ap-southeast-2-496139929044
    on:
      branch: slug_uat
      python: "3.6"

  - provider: elasticbeanstalk
    access_key_id: $AWS_SLUG_ACCESS_KEY
    secret_access_key:
      secure: $AWS_SLUG_SECRET_KEY
    region: "ap-southeast-2"
    app: "biosys"
    env: "biosys-production"
    bucket_name: elasticbeanstalk-ap-southeast-2-496139929044
    on:
      branch: slug_production
      python: "3.6"
