{% extends "admin/base_site.html" %}
{% load i18n admin_urls %}

{% block bodyclass %}{{ block.super }} app-{{ opts.app_label }} model-{{ opts.model_name }} approve-confirmation{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_config.verbose_name }}</a>
&rsaquo; <a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst|escape }}</a>
&rsaquo; {% trans 'Approve multiple objects' %}
</div>
{% endblock %}

{% block content %}
<p>Are you sure you want to approve the data for the selected {{ object_name }}?</p>
<ul>{{ queryset|unordered_list }}</ul>
<form action="" method="post">
{% csrf_token %}
<div>
    {% for obj in queryset %}
        <input type="hidden" name="{{ action_checkbox_name }}" value="{{ obj.pk }}" />
    {% endfor %}
    <input type="hidden" name="action" value="make_approved" />
    <input type="hidden" name="post" value="yes" />
    <input type="submit" value="Yes, I'm sure" />
    <a href="#" onclick="window.history.back(); return false;" class="button cancel-link">{% trans "No, take me back" %}</a>
</div>
</form>
{% endblock %}
