{% extends "admin/change_form.html" %}
{% block messages %}
    {% if messages %}
        <ul class="grp-messagelist">
            <!-- NOTE: no message|capfirst by purpose, because it does not work in some languages -->
            {% for message in messages %}
                <li{% if message.tags %} class="grp-{{ message.tags }}"{% endif %}>{{ message|safe }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}

{% block object-tools-items %}
    {% if not readonly_user %}
        {{ block.super }}
    {% endif %}
{% endblock %}

{% block submit_buttons_top %}
    {% if not readonly_user %}
        {{ block.super }}
    {% endif %}
{% endblock %}

{% block submit_buttons_bottom %}
    {% if not readonly_user %}
        {{ block.super }}
    {% endif %}
{% endblock %}
