{% extends "main/main_change_form.html" %}

{% block javascripts %}
	{{ block.super }}
    <script type="text/javascript" charset="utf-8">
	    (function($) {
	        $(document).ready(function() {
	        	API_PROJECT_URL = '/api/project/';
	        	API_SITE_URL = '/api/site/';

				// change initial zoom for map if a point it set        	
	        	geodjango_geometry.map.zoomTo(6);

				$('#id_project').change(function() {
					var siteParams = {
						format: 'json',
						project__id: this.value
					};

					$.ajax({
						url: API_SITE_URL,
						type: 'get',
						data: siteParams,
						dataType: 'json'
					}).done(function () {
						$('#id_sites_to').find('option').remove();
					});

					var projectParams = {
							format: 'json',
							id: this.value
						};

					$.ajax({
						url: API_PROJECT_URL,
						type: 'get',
						data: projectParams,
						dataType: 'json'
					}).done(function (data) {
						$('#id_datum').val(data.objects[0].datum);
					});
				});
			});
	    })(grp.jQuery);
	</script>
{% endblock %}
