{% extends "admin/change_form.html" %}
{% load i18n admin_list admin_urls %}
{% load static %}

{% block extrastyle %}
	<link href="{% static 'css/biosys.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_config.verbose_name }}</a>
&rsaquo; <a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>
&rsaquo; <a href="{% url opts|admin_urlname:'change' original.pk %}">{{ original|truncatewords:"18" }}</a>
&rsaquo; {% trans title %}
</div>
{% endblock %}

{% block content %}
<form enctype="multipart/form-data" action="" method="post">
{% csrf_token %}
<div>
    <p>
    	This site visit already has data associated with it. Click confirm to overwrite this data with the data from the file you are uploading.
    </p>
    <p class="vertical-buffer">
    	<strong>Warning all previous data for this site visit will be overwritten!</strong>
    </p>
</div>
<div class="submit-row vertical-buffer">
    <input type="submit" value="{% trans 'Confirm' %}" class="default" name="_confirm"/>
    <input type="submit" value="{% trans 'Cancel' %}" name="_cancel"/>
</div>
</form>
{% endblock %}
