# this has to run before the yum packages
# if you put that in the same config has the packages command, packages install seems to run before these commands.
commands:
  01_yum_update:
    command: yum -y update
  02_epel_repo:
    command: yum-config-manager -y --enable epel
  03_remi_repo:
    command: yum-config-manager -y --enable remi
