packages:
  yum:
    # mod_ssl for apache
    mod24_ssl.x86_64: []

container_commands:
  10_installCertbot:
    command: "wget https://dl.eff.org/certbot-auto;chmod a+x certbot-auto"
#  20_createwebrootpath:
#    command: "sudo mkdir /var/www/acme-challenge/"
  30_getCert:
    command: "sudo ./certbot-auto  --debug --non-interactive --email ${CERT_EMAIL}  --domains ${CERT_DOMAIN} --apache --agree-tos"
#  40_link:
#    command: "sudo ln -sf /etc/letsencrypt/live/${CERTDOMAIN} /etc/letsencrypt/live/ebcert"
#  50_config:
#    command: "sudo mv /etc/nginx/conf.d/https_custom.pre /etc/nginx/conf.d/https_custom.conf"