packages:
  yum:
    # mod_ssl for apache
    mod24_ssl.x86_64: []

container_commands:
  10_installCertbot:
    command: "wget https://dl.eff.org/certbot-auto;chmod a+x certbot-auto"
  20_getCert:
    command: "sudo ./certbot-auto  --debug --non-interactive --email ${CERT_EMAIL}  --domains ${CERT_DOMAIN} --apache --agree-tos"
