---
# Tweaks to fix issues revealed by pentest
files:
  "/etc/httpd/conf.d/ssl.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
     SSLProtocol All -SSLv2 -SSLV3 -TLSv1
     SSLCipherSuite HIGH:!aNULL:!MD5:!RC4
     SSLHonorCipherOrder     on
     SSLCompression          off
     SSLSessionTickets       off
     # OCSP Stapling, only in httpd 2.3.3 and later
     SSLUseStapling          on
     SSLStaplingResponderTimeout 5
     SSLStaplingReturnResponderErrors off
     SSLStaplingCache        shmcb:/var/run/ocsp(128000)
  "/etc/httpd/conf.d/hardening.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
     TraceEnable off
     Header unset Server
     ServerSignature Off
     ServerTokens Prod
