# biosys log
option_settings:
  aws:elasticbeanstalk:application:environment:
    LOG_FOLDER: "/var/log/biosys"
commands:
  21_create_dir:
    command: mkdir -p /var/log/biosys
  22_change_permissions:
    command: chmod -R g+s /var/log/biosys
  23_change_owner:
    command: chown -R wsgi:wsgi /var/log/biosys
