# django stuff
container_commands:
  01_migrate:
    command: "python manage.py migrate"
    leader_only: true
  02_collectstatic:
    command: "python manage.py collectstatic --noinput"
  03_createsu:
    command: "echo -e \"from django.contrib.auth import get_user_model\nUser = get_user_model()\nif User.objects.count == 0: User.objects.create_superuser('admin', 'admin@example.com', 'possward')\" | python manage.py shell"
    leader_only: true
option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: biosys/wsgi.py