commands:
  01_yum_update:
    command: sudo yum -y update
  02_epel_repo:
    command: sudo yum-config-manager -y --enable epel
  03_remi_repo:
    command: yum-config-manager -y --enable remi
packages:
  yum:
    git: ''
    postgresql96-devel: ''
    postgis2_96: ''
    geos: ''
    gdal: ''
container_commands:
  01_migrate:
    command: "python manage.py migrate"
    leader_only: true
  02_collectstatic:
    command: "python manage.py collectstatic --noinput"
option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: biosys/wsgi.py
