# GDAL/Postgis stuff
commands:
  01_yum_update:
    command: sudo yum -y update
  02_epel_repo:
    command: sudo yum-config-manager -y --enable epel
  03_remi_repo:
    command: yum-config-manager -y --enable remi
packages:
  yum:
    git: ''
    postgresql95-libs: ''
    postgresql95-contrib: ''
    postgresql95-devel: ''