{% extends "webtemplate_dpaw/base.html" %}
{% load static from staticfiles %}

{% block extra_style %}
    {{ block.super }}
    <link href="{% static 'css/biosys.css' %}" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block bootflat_style %}{% endblock %}
{% block bootflat_js %}{% endblock %}

{% block navbar_site_title %}
    <a class="navbar-brand" href="{% url 'home' %}">
    	{{ site_title }}
    </a>
{% endblock %}{

{% block navbar_links %}
    <li><a href="{% url 'about' %}" target="_">About BioSys</a></li>
    {% if user.is_authenticated %}
        <li><a href="{% url 'contact' %}">Contact Us</a></li>
    {% endif %}
	{% if user.is_authenticated %}
		{% block navbar_auth %}
			<li class="dropdown">
			    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{ user.email }} <span class="caret"></span></a>
			    <ul class="dropdown-menu" role="menu">
			        {% if user.is_superuser %}
				        <li><a href="{% url 'admin:index' %}">Admin</a></li>
				        <li class="divider"></li>
			        {% endif %}
			        <li><a href="{% url 'logout' %}?next={% url 'home' %}">Log out</a></li>
			    </ul>
			</li>
		{% endblock %}
	{% endif %}
{% endblock %}

{% block page_content %}
<div class="container-fluid">
    <!-- Breadcrumbs -->
    {% if breadcrumb_trail %}
    <div class="row">
        <div class="col-xs-12">
            <ol class="breadcrumb">
                {{ breadcrumb_trail|safe }}
            </ol>
        </div>
    </div>
    {% endif %}

    <!-- Messages  -->
    {% if messages %}
    <div class="row">
        <div class="col-xs-12">
            {% for message in messages %}
            <div class="alert{% if message.tags %} alert-{{ message.tags }}{% endif %}">
                {{ message|safe }}
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}

    {% block page_content_inner %}{% endblock %}
</div>
{% endblock %}

{% block page_footer %}
<div class="container-fluid">
    <div class="row">
        <hr>
        <div class="col-xs-6">
            Version: {{ application_version_no }}
        </div>
        <div class="col-xs-6">
            <p class="pull-right">&copy; 2015 Department of Parks and Wildlife</p>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
    {# The always useful lodash (underscore) lib#}
    <script src='//static.dpaw.wa.gov.au/static/libs/lodash.js/4.5.1/lodash.min.js'></script>
    {# The project library#}
    <script src="{% static 'js/biosys.js' %}"></script>
{% endblock %}
