{% extends "base_biosys.html" %}
{% load static from staticfiles %}

{% block extra_style %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css"
          href="//cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.css">
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/tabletools/2.2.4/css/dataTables.tableTools.css">
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/colvis/1.1.2/css/dataTables.colVis.css">
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/colreorder/1.1.3/css/dataTables.colReorder.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-datepicker.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/report.css' %}">
{% endblock %}

{% block page_content_inner %}
    <div class="row">
        <div class="col-xs-12">
            <div class="panel-group" id="filter-panel">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#filter-panel" href="#collapseFilters">
                                <span class="glyphicon glyphicon-search"></span>
                                FILTERS (click to collapse/expand)
                            </a>
                        </h4>
                    </div>
                    <!-- /.panel-heading -->
                    <div id="collapseFilters" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <form class="form-horizontal" role="form">
                                <div class="form-group">
                                    <label for="filter-project"
                                           class="col-lg-1 col-sm-2 col-xs-12 control-label">Project</label>

                                    <div class="col-lg-5 col-sm-4 col-xs-12">
                                        <select class="form-control" id="filter-project"></select>
                                    </div>
                                    <label for="filter-site"
                                           class="col-lg-1 col-sm-2 col-xs-12 control-label">Site</label>

                                    <div class="col-lg-5 col-sm-4 col-xs-12">
                                        <select class="form-control" id="filter-site"></select>
                                    </div>
                                </div>
                                <!-- /.form-group -->
                                <div class="form-group">
                                    <label for="filter-visit"
                                           class="col-lg-1 col-sm-2 col-xs-12 control-label">Visit</label>

                                    <div class="col-lg-5 col-sm-4 col-xs-12">
                                        <select class="form-control" id="filter-visit"></select>
                                    </div>
                                </div>
                                <!-- /.form-group -->
                                {% comment %}
                            <div class="form-group">
                                <label for="filter-date-start" class="col-lg-1 col-sm-2 col-xs-12 control-label">Visit
                                    start date</label>
                                <div class="col-lg-5 col-sm-4 col-xs-12">
                                    <input class="form-control datepicker" id="filter-date-start"/>
                                </div>
                                <label for="filter-date-end" class="col-lg-1 col-sm-2 col-xs-12 control-label">Visit end
                                    date</label>
                                <div class="col-lg-5 col-sm-4 col-xs-12">
                                    <input class="form-control datepicker" id="filter-date-end"/>
                                </div>
                            </div><!-- /.form-group -->
                            {% endcomment %}
                                <div class="form-group">
                                    <div class="col-xs-12">
                                        <a href="#" type="button" class="btn btn-primary btn-lg pull-right"
                                           id="id-button-download">Download (Excel)</a>
                                    </div>
                                </div>
                                <!-- /.form-group -->
                            </form>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel-collapse collapse in -->
                </div>
                <!-- /.panel panel-default-->
            </div>
            <!-- /.panel-group -->
        </div>
        <!-- /.col-xs-12 -->
    </div><!-- /.row -->

    {#    <div class="row">#}
    {#        <div class="col-xs-12" id="id-div-button-panel">#}
    {#            <button type="button" class="btn btn-default view-selector" id="id-button-site-visits"#}
    {#                    data-view="site-visits">Site visits#}
    {#            </button>#}
    {#        </div>#}
    {#        <!-- /.col-xs-12 -->#}
    {#    </div><!-- /.row -->#}

    <div class="row">
        <div class="col-xs-12">
            <ul class="nav nav-pills " id="id-div-nav-panel">
                <li role="presentation" id="id-nav-site-visits" data-view="site-visits" class="active"><a href="#">Site
                    Visits</a></li>
            </ul>
        </div>
        <!-- /.col-xs-12 -->
    </div><!-- /.row -->

    <div id="id-div-result-panel">
        <div class="row">
            <div class="col-xs-12">
                <h3 id="id-datatable-title"></h3>
            </div>
            <!-- /.col-xs-12 -->
        </div>
        <!-- /.row -->

        <div class="row">
            <div class="col-xs-12">
                <div id="id-div-datatable"></div>
            </div>
            <!-- /.col-xs-12 -->
        </div>
        <!-- /.row -->
    </div>
{% endblock %}

{% block extra_js %}
    {{ block.super }}
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.7/js/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf8"
            src="//cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.js"></script>
    <script type="text/javascript" charset="utf8"
            src="//cdn.datatables.net/tabletools/2.2.4/js/dataTables.tableTools.min.js"></script>
    <script type="text/javascript" charset="utf8"
            src="//cdn.datatables.net/colvis/1.1.2/js/dataTables.colVis.min.js"></script>
    <script type="text/javascript" charset="utf8"
            src="//cdn.datatables.net/colreorder/1.1.3/js/dataTables.colReorder.min.js"></script>
    <script type="text/javascript" charset="utf8" src="{% static 'js/libs/bootstrap-datepicker.js' %}"></script>
    <script type="text/javascript" charset="utf8" src="{% static 'js/libs/spin.min.js' %}"></script>
    <script type="text/javascript">
        var biosys = biosys || {};
        biosys.report_page = (function ($, _) {
            var tableSelector = 'table#id-biosys-data';
            var schemaDeferred = $.getJSON("{% url 'datasheet_schema' %}");
            var spinner = new Spinner();

            function setWaitSpinner(on) {
                var target = $('#id-div-result-panel')[0];
                spinner.stop();
                if (on) {
                    spinner.spin(target);
                }
                return spinner;
            }

            function showWaitSpinner() {
                setWaitSpinner(true);
            }

            function hideWaitSpinner() {
                setWaitSpinner(false);
            }

            function initModelButtons(success) {
                {#                var buttonPanel = $("#id-div-button-panel");#}
                var navPanel = $("#id-div-nav-panel");
                var navTemplate = _.template(
                        '<li role="presentation" ' +
                        'id="id-nav-<%= name %>" ' +
                        'data-view="<%= name %>"><a href="#"><%= title %></a></li>');
                schemaDeferred.then(function (schema) {
                    var models = schema['models'];
                    _.each(models, function (model) {
                        {#                        var template = _.template(#}
                        {#                                "<button type='button' class='btn btn-default view-selector' " +#}
                        {#                                "id='id-button-<%= name %>' " +#}
                        {#                                "data-view=<%= name %>><%= title %></button>");#}
                        {#                        var button = template({name: model['name'], title: model['name_plural']});#}
                        {#                        buttonPanel.append(button);#}
                        var nav = navTemplate({name: model['name'], title: model['name_plural']});
                        navPanel.append(nav);
                    });
                    success(navPanel.children());
                });
            }

            // Utility function to fill the project filter with data from the API
            function updateProject() {
                var p = $("select#filter-project")[0];
                var i;
                p.disabled = true;
                $.ajax({
                    type: "GET",
                    url: "{% url 'api_dispatch_list' resource_name='project' api_name='v1' %}",
                    data: {"format": "json"},
                    success: function (data) {
                        p.options.length = 0;
                        p.options.add(new Option('--------', ''));
                        for (i in data.objects) {
                            p.options.add(new Option(data.objects[i].title, data.objects[i].id));
                        }
                    }
                });
                p.disabled = false;
            }

            function disableSite() {
                // Deselect and disable the site filters.
                var widget = $("select#filter-site")[0];
                widget.disabled = true;
                widget.selectedIndex = 0;
                widget.options.length = 0;
            }

            // Utility function to update and enable site filter when project filter changes.
            function updateSite() {
                var p = $("select#filter-site")[0];
                var project_id = $("select#filter-project").val();
                var data, i;
                if (project_id) {
                    data = {"project__id": project_id};
                } else {
                    data = {};
                }
                $.ajax({
                    type: "GET",
                    url: "{% url 'api_dispatch_list' resource_name='site' api_name='v1' %}",
                    data: $.extend(data, {"format": "json"}),
                    success: function (data) {
                        p.options.length = 0;
                        p.options.add(new Option('--------', ''));
                        for (i in data.objects) {
                            p.options.add(new Option(data.objects[i].site_code, data.objects[i].id));
                        }
                    }
                });
                p.disabled = false;
            }

            // Disable and clear visit filter.
            function disableVisit() {
                var widget = $("select#filter-visit")[0];
                widget.disabled = true;
                widget.selectedIndex = 0;
                widget.options.length = 0;
            }

            // Utility function to update and enable visit filter when project filter changes.
            function updateVisit() {
                var p = $("select#filter-visit")[0];
                var project_id = $("select#filter-project").val();
                var data, i;
                if (project_id) {
                    data = {"project__id": project_id};
                } else {
                    data = {};
                }
                $.ajax({
                    type: "GET",
                    url: "{% url 'api_dispatch_list' resource_name='visit' api_name='v1' %}",
                    data: $.extend(data, {"format": "json"}),
                    success: function (data) {
                        p.options.length = 0;
                        p.options.add(new Option('--------', ''));
                        for (i in data.objects) {
                            p.options.add(new Option(data.objects[i].name, data.objects[i].id));
                        }
                    }
                });
                p.disabled = false;
            }

            function clearTable() {
                // Remove the table DOM element
                $(tableSelector).remove();
                // Create a new table DOM element
                $("div#id-div-datatable").html($("<table>", {
                    "class": "table table-striped table-bordered table-responsive",
                    "id": "id-biosys-data"
                }));
            }

            function updateTitle(title) {
                // Fill the table title.
                var t = $("#id-datatable-title");
                t.html(title);
            }

            function disableFilters() {
                // Deselect and disable the site and visit filters.
                disableSite();
                disableVisit();
            }

            function queryFilters() {
                // Filters for query to API.
                var data = {"format": "json"};
                var project_id = $("select#filter-project").val();
                if (project_id) {
                    $.extend(data, {"site__project__id": project_id});
                }
                var site_id = $("select#filter-site").val();
                if (site_id) {
                    $.extend(data, {"site__id": site_id});
                }
                var visit_id = $("select#filter-visit").val();
                if (visit_id) {
                    $.extend(data, {"visit__id": visit_id});
                }
                return data;
            }

            function initDataTable(tableOptions, columnDefinitions) {
                // Generic function to initialise a DataTable.
                // add the tableTools options
                var dom = '<"row">' +
                        '<"col-xs-6"C>' +
                        '<"col-xs-6"T>' +
                        '<"row">' +
                        '<"col-xs-6"l>' +
                        '<"col-xs-6"f>' +
                        'Rtip';
                $.extend(tableOptions, {
                    dom: dom,
                    "tableTools": {
                        "sSwfPath": "/static/swf/copy_csv_xls_pdf.swf",
                        "aButtons": ["copy", "csv", "xls", "pdf", "print"]
                    }
                });
                return biosys.dataTable.initTable(tableSelector, tableOptions, columnDefinitions)
            }

            function querySiteVisits(success) {
                var is_approver = {{ is_approver }};  // Context passed from Django view.
                // Remove any existing data table.
                clearTable();
                // Query the API and redraw table.
                $.ajax({
                    type: "GET",
                    url: "{% url 'api_dispatch_list' resource_name='sitevisit' api_name='v1' %}",
                    data: queryFilters(),
                    success: function (resp) {
                        var colDefs = [
                            {
                                title: 'Project',
                                data: "site.project.title"
                            },
                            {
                                title: 'Site code',
                                data: "site.site_code"
                            },
                            {
                                title: 'Visit name',
                                data: "visit.name"
                            },
                            {
                                title: 'Visit start',
                                data: "visit.start_date", type: "date"
                            },
                            {
                                title: 'Visit end',
                                data: "visit.end_date", type: "date"
                            },
                            {
                                title: 'Site visit ID',
                                data: "id"
                            },
                            {
                                title: 'Site visit data status',
                                data: "data_status",
                                render: function (data, type, row) {
                                    var url = row.data_status;
                                    if (is_approver && data != 'approved') {
                                        url += ' (<a class="api-data-status" href="#" data-new-status="approved" data-api-status-url="' + '{% url "api_dispatch_list" api_name="v1" resource_name="sitevisit" %}' + '/' + row.id + '/update-status">Approve</a>)';
                                    } else if (is_approver && data != 'quarantined') {
                                        url += ' (<a class="api-data-status" href="#" data-new-status="quarantined" data-api-status-url="' + '{% url "api_dispatch_list" api_name="v1" resource_name="sitevisit" %}' + '/' + row.id + '/update-status">Quarantine</a>)';
                                    }
                                    return url;
                                }
                            },
                            {
                                title: 'Data file',
                                data: "data_file",
                                render: function (data) {
                                    if (data && data.file) {
                                        return '<a href="' + window.location.origin + data.file + '">Download</a>';
                                    } else {
                                        return '';
                                    }
                                }
                            },
                            {
                                title: "Upload data",
                                data: "data_status",
                                render: function (data, type, row) {
                                    if (is_approver && row.data_status != 'approved') {
                                        // The Django admin changelist view.
                                        var uploadUrl = "{% url 'admin:main_visit_changelist' %}";
                                        return '<a href="' + uploadUrl + row.visit.id + '/upload-datasheet/">Upload</a>';
                                    } else {
                                        return '';
                                    }
                                }
                            }

                        ];
                        var table = initDataTable({}, colDefs);
                        table.populate(resp['objects']);
                        //callback
                        if (typeof success === 'function') {
                            success(table);
                        }
                    }
                });
            }

            function getApiUrl(resource) {
                var url_mask = "{% url 'api_dispatch_list' resource_name='sitevisit' api_name='v1' %}";
                if (resource) {
                    return url_mask.replace(/sitevisit/, resource);
                } else {
                    return url_mask;
                }
            }

            function fetchSiteVisitIds(success) {
                var filters = queryFilters();
                $.ajax({
                    url: getApiUrl('sitevisit'),
                    data: filters,
                    success: function (data) {
                        var ids = _.map(data['objects'], function (obj) {
                            return obj.id
                        });
                        success(ids, filters);
                    }
                });
            }

            function fetchApiData(model, filters, success) {
                $.ajax({
                    url: getApiUrl(model),
                    data: filters,
                    success: function (data) {
                        success(data['objects'])
                    }
                });
            }

            function getModelSchema(modelName, success) {
                schemaDeferred.then(function (schema) {
                    var modelSchema = _.find(schema['models'], function (m) {
                        return m.name === modelName;
                    });
                    success(modelSchema);
                });
            }

            function buildDataSheetColumnDefinitions(model, success) {
                function renderSpecies(data) {
                    if (data) {
                        return data['input_name'];
                    } else {
                        return ''
                    }
                }

                // get the model schema
                getModelSchema(model, function (modelSchema) {
                    var datasheetFields = _.filter(modelSchema['fields'], function (field) {
                        return field['is_datasheet_field'];
                    });
                    var datasheetColDefs = _.map(datasheetFields, function (field) {
                        var title = field['datasheet_name'] ? field['datasheet_name'] : field['name'];
                        var data = field['name'];
                        var render;
                        // special relation rules
                        if (field['is_lookup']) {
                            data = field['name'] + '.value';
                        } else if (field['is_species_name']) {
                            data = field['name'];
                            render = renderSpecies;
                        } else if (field['is_extra_species_attribute']) {
                            data = 'species.' + field['name']
                        }
                        return {
                            title: title,
                            data: data,
                            render: render
                        }
                    });
                    success(datasheetColDefs)
                });
            }

            function buildCommonColumnDefinitions(model, records, success) {
                // TODO: This is a currently synchronous function. And we don't need the model
                var commonColDefs = [];
                var svPath = 'site_visit';
                var isVegVisit = false;
                var record;
                // we need to find the site_visit object
                // for all vegetation it is in the vegetation_visit.site_visit for the rest it is at the root
                // use the first record for exploring
                if (_.size(records) > 0) {
                    record = records[0];
                    if (_.has(record, 'vegetation_visit')) {
                        isVegVisit = true;
                        svPath = 'vegetation_visit.site_visit';
                    }
                }
                // the project
                commonColDefs.push({
                    title: 'Project',
                    data: svPath + ".visit.project.title"
                });
                // the visit
                commonColDefs.push({
                    title: 'Visit',
                    data: svPath + ".visit.name"
                });
                // the site
                commonColDefs.push({
                    title: 'Site',
                    data: svPath + ".site.site_code"
                });
                // the datasheet
                commonColDefs.push({
                    title: 'Data file',
                    data: svPath + ".data_file.file",
                    render: function (data) {
                        if (data) {
                            return '<a href="' + window.location.origin + data + '">Download</a>';
                        }
                    }
                });
                // vegetation visit date
                if (isVegVisit) {
                    commonColDefs.push({
                        title: 'Visit Date',
                        data: 'vegetation_visit.date'
                    });
                }
                if (typeof success === 'function') {
                    success(commonColDefs)
                }
                return commonColDefs;
            }

            function showModelData(model, success) {
                var dataDeferred = $.Deferred();
                fetchSiteVisitIds(function (ids, filters) {
                    $.extend(filters, {"vegetation_visit__site_visit__id__in": ids.join()});
                    $.extend(filters, {"site_visit__id__in": ids.join()});
                    fetchApiData(model, filters, function (objects) {
                        dataDeferred.resolve(objects);
                    })
                });
                dataDeferred.then(function (records) {
                    buildDataSheetColumnDefinitions(model, function (datasheetColDefs) {
                        buildCommonColumnDefinitions(model, records, function (commonColDefs) {
                            var allColDefs = [];
                            var table;
                            allColDefs = allColDefs.concat(commonColDefs);
                            allColDefs = allColDefs.concat(datasheetColDefs);
                            table = initDataTable({}, allColDefs);
                            table.populate(records);
                            //callback
                            if (typeof success === 'function') {
                                success(table);
                            }
                        });
                    });
                });
            }

            function setActive(view) {
                var navPanel = $('#id-div-nav-panel');
                navPanel.children("li").removeClass('active');
                navPanel.children('#id-nav-' + view).addClass('active');
                {#                $('#id-div-button-panel').children("button.view-selector").removeClass('active');#}
                {#                $('#id-button-' + view).addClass('active');#}
            }

            function redrawTable(view, viewTitle) {
                setActive(view);
                clearTable();
                updateTitle(viewTitle);
                showWaitSpinner();
                // Refill table data using the selected view.
                if (view == "site-visits") {
                    querySiteVisits(hideWaitSpinner);
                } else {
                    {# from here the view is expected to be a model name  #}
                    showModelData(view, hideWaitSpinner);
                }
            }

            function downloadData() {
                window.open(
                        "{% url 'publish_download' %}" + '?' + $.param(queryFilters()),
                        "_blank"
                );
            }

            return {
                updateTitle: updateTitle,
                disableFilters: disableFilters,
                redrawTable: redrawTable,
                downloadData: downloadData,
                updateProject: updateProject,
                updateSite: updateSite,
                updateVisit: updateVisit,
                initModelButtons: initModelButtons,
                hideWaitSpinner: hideWaitSpinner
            }

        })($, _, biosys);
        // ------------------------------------
        // Document ready
        $(function () {
            // Initialise datepicker widgets
            $('.datepicker').datepicker({
                format: 'dd-mm-yyyy'
            });
            biosys.report_page.updateTitle("Site visits");
            biosys.report_page.disableFilters();
            biosys.report_page.updateProject();  // Obtain list of projects.
            var selectedView = "site-visits";
            var viewTitle = 'Site visits';
            biosys.report_page.redrawTable(selectedView, viewTitle);
            // Onchange event for project select filter.
            $("select#filter-project").change(function () {
                var project_id = $("select#filter-project").val();
                if (project_id) {
                    // Update Site, Visit select filters.
                    biosys.report_page.updateSite();
                    biosys.report_page.updateVisit();
                } else {
                    biosys.report_page.disableFilters();
                }
                // Refill table data.
                biosys.report_page.redrawTable(selectedView, viewTitle);
            });
            // Onchange event for site select filter.
            $("select#filter-site").change(function () {
                biosys.report_page.redrawTable(selectedView, viewTitle);
            });
            // Onchange event for visit select filter.
            $("select#filter-visit").change(function () {
                biosys.report_page.redrawTable(selectedView, viewTitle);
            });
            // Click event for view selector buttons.
            biosys.report_page.initModelButtons(function (buttons) {
                {#                $(buttonPanel).children("button.view-selector").click(function () {#}
                {#                    selectedView = $(this).data("view");#}
                {#                    viewTitle = $(this).text();#}
                {#                    biosys.report_page.redrawTable(selectedView, viewTitle);#}
                {#                });#}
                buttons.click(function () {
                    selectedView = $(this).data("view");
                    viewTitle = $(this).text();
                    biosys.report_page.redrawTable(selectedView, viewTitle);
                });

            });
            // Click event for the 'Download' button.
            $("a#id-button-download").click(function () {
                biosys.report_page.downloadData();
            });
            // Register a click event listener for "Approve" and "Quarantine" links.
            $(document).on("click", "a.api-data-status", function (event) {
                var td = $(this).parent();
                var new_status = $(this).data("new-status");
                var api_status_url = $(this).data("api-status-url");
                var new_url;
                if (new_status == "approved") {
                    new_url = 'approved (<a class="api-data-status" href="#" data-new-status="quarantined" data-api-status-url="' + api_status_url + '">Quarantine</a>)';
                } else {
                    new_url = 'quarantined (<a class="api-data-status" href="#" data-new-status="approved" data-api-status-url="' + api_status_url + '">Approve</a>)';
                }
                $.ajax({
                    type: "POST",
                    url: $(this).data("api-status-url"),
                    data: {"format": "json", "status": new_status},
                    success: function (resp) {
                        td.html(new_url);
                    }
                });
            });
        });
        // disable spinner if any ajax error
        $(document).ajaxError(function () {
            biosys.report_page.hideWaitSpinner()
        });
    </script>
{% endblock %}
