{% extends 'base_biosys.html' %}

{% load envelope_tags %}

{% load static %}

{% block extra_style %}
	{{ block.super }}
	<link rel="stylesheet" href="{% static 'css/biosys.css' %}" type="text/css" />
{% endblock %}

{% block page_content %}
	<div class="container">
	    <div class="row">
	        <div class="col-xs-6 col-xs-offset-3">	       		
	        	<h3>Please enter the following fields and click submit when done.</h3>
	        	<form method="post">
	        	    {% csrf_token %}
		        	{% for field in form %}
			        	{% if not forloop.last %}
							<div class="form-group {% if field.errors %} has-error has-feedback {% endif %}">
							    <label for="{{ field.auto_id }}">{{ field.label }}</label> 
							    <input id="{{ field.auto_id }}" name="{{ field.name }}" type="text" {% if field.value %}value="{{ field.value }}"{% endif %} class="form-control" />
							    {% if field.help_text %}
							        <p class="help-block">{{ field.help_text }}</p>
							    {% endif %}
							    {% if field.errors %}
							        <span class="glyphicon glyphicon-remove form-control-feedback"></span>
							        <span class='text-danger'>{{ field.errors|join:'<br />' }}</span>
							    {% endif %}
							</div>
						{% else %}
							<div class="form-group {% if field.errors %} has-error has-feedback {% endif %}">
							    <label for="{{ field.auto_id }}">{{ field.label }}</label> 
							    <textarea id="{{ field.auto_id }}" name="{{ field.name }}" value="{{ field.value }}" class="form-control feedback-text-area"></textarea>
							    {% if field.help_text %}
							        <p class="help-block">{{ field.help_text }}</p>
							    {% endif %}
							    {% if field.errors %}
							        <span class="glyphicon glyphicon-remove form-control-feedback"></span>
							        <span class='text-danger'>{{ field.errors|join:'<br />' }}</span>
							    {% endif %}
							</div>
						{% endif %}
					{% endfor %}
	                <div class="form-group">
	                    <button type="submit" class="btn btn-primary">Submit</button>
	                </div>
                </form>
			</div>
		</div>
	</div>
{% endblock %}